@import url('https://fonts.googleapis.com/css2?family=Merriweather%20Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather%20Sans:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    
  }
  a{
    text-decoration: none;
  }
:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
  }
body{
    background-color: #0e0e0e;
    font-family: 'Merriweather Sans';
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 90px;
}
#pri-cont{
    width: 90%;
    margin: auto;
}
#background{
    padding-top: 55px;
    background: url(assets/background.png);
    background-position: center top;
}
#content-header{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.nav-header{
    display: flex;
    gap: 5vw;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.nav-header a, .nav-header a:visited{
    color: white;
    transition: 0.3s;
}
.nav-header a:hover{
    color: #FF5B50;
}

.titulo-header h1{
    color: white;
    font-size: 40px;
}
.titulo-header span{
    color: #FF5B50;
}
.button-carteira button{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 22px 5px 14px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.descubra-nft{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: white;
    align-items: center;
}
.descubra-nft-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
}
.descubra-nft-1 > p{
    font-size: 16px;
}
.avatares{
    display: flex;
    margin-top: 55px;
}
.selecionados{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.descubra-nft-2 {
    width: 45%;
}
.descubra-nft-2 h2{
    font-size: 50px;
}
.descubra-nft-2 span{
    color: #ff5b50;
    line-height: 61px;
}
.img-nft{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.pri-img-nft, .sec-img-nft{
    display: flex;
    justify-content: space-between;
}
.pri-img-nft img, .sec-img-nft img{
    width: 23%;
    border: 1px solid white;
    transition: 0.3s;
}
.pri-img-nft img:hover, .sec-img-nft img:hover{
    transform: scale(1.05);
}

#infos-nfts{
    display: flex;
    padding-left: 5%;
    color: white;
    align-items: center;
    border-bottom: 1px solid #5A5757 ;
}
.coluna-infos-num{
    padding-right: 65px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.num-artistas, .num-vendas, .num-artes{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.num-artistas p,.num-vendas p, .num-artes p{
    color: #5A5757;
    font-size: 22px; 
}
.num-artistas h2,.num-vendas h2, .num-artes h2{
    font-size: 46px;
    line-height: 60px;
}
.img-artes{
    display: flex;
}
.img-artes img{
    width: 100%;
}
.frases-artes{
    width: 80%;
    display: flex;
    padding-left: 5vw;
    justify-content: space-between;
    margin-bottom: 70px;
}
.frases-artes-content{
    width: 36%;
    display: flex;
    flex-direction: column;
    gap: 8vh;
    min-width: 285px;
}
.sobre-artes{
    padding-top: 80px;
    border-left: 1px solid #5A5757 ;
}
.frases-artes-content p{
    font-size: 14px;
    line-height: 18px;
}
.frases-artes span{
    color: #ff5b50;
    text-decoration: underline;
}
.cor-cinza{
    
    text-decoration: underline;
}

.populares-semana{
    padding-top: 150px;
    width: 90%;
    margin: auto;
    color: white;
}
.populares-semana > h2{
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 150px;
}
.populares-semana span{
    color: #ff5b50;
}
.artes-populares{
    display: flex;
    justify-content: space-between;
}
.coluna-artes-1{
    width: 40%;
}
.coluna-artes-2{
    width: 40%;
}
.borda-meio{
    border: 0.5px solid #5A5757 ;
}
.coluna-artes-1{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 80px;
}
.coluna-artes-2{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 80px;
}
.arte-astr{
    display: flex;
    flex-direction: column;
}
.arte-preco-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}
.name-artista{
    font-size: 14px;
    color: #5A5757;
}
.preço{
    font-size: 14px;
    text-align: right;
    color: #FF5B50;
}
.arte-astr h3{
    font-size: 28px;
    padding-bottom: 40px;
}


.melhores-artistas{
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    align-items: center;
    padding-bottom: 130px;
}
.melhores-artistas h2{
    font-size: 50px;
    padding-bottom: 110px;
}
.cor-vermelha{
    color: #FF5B50;
}
.content-artistas{
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
.tres-artitas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.artista{
    width: 27%;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
    cursor: pointer;
    min-width: 265px;
}
.artista > img{
    padding: 25px 0;
}
.artista:hover{
    background-color: #FF5B50;
    transform: scale(1.05);
}
.artista:hover .quant-fotografias{
    color: white;
}
.info-artista{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.quant-fotografias{
    transition: 0.3s;
    color: #FF5B50;
}
.link-todos-artistas, .link-todos-artistas:visited{
    color: white;
    transition: 0.3s;
}

.link-todos-artistas:hover{
    color: #FF5B50;
}

footer{
    background-color: #252525;
}
.content-footer{
    
    color: white;
}
.name-button-footer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.name-button-footer h2{
    font-size: 40px;
}
.name-button-footer h2 span{
    color: #FF5B50;
}
.name-button-footer button{
    padding: 20px;
   background-color: #FF5B50;
   border: none;
   transition: 0.3s;
   cursor: pointer;
}
.name-button-footer button:hover{
    background-color: white;
}
.coisas-empresas{
    
    border-top: 1px solid  #5A5757;
    border-bottom: 1px solid  #5A5757;
    display: flex;
    align-items: center;
}
.pri-coisas-empresas {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 60px;
    padding: 3% 5%;
    border-right: 1px solid  #5A5757;
}

.pri-coisas-empresas h4{
    font-size: 30px;
}
.colo-ver{
    color: #FF5B50;
}
.form{
    display: flex;
}
.form input{
    background-color: black;
    border: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color:#5A5757;
    padding: 25px 0px 25px 25px;
}
.form input:focus{
    outline: none;
}
.form button{
    font-size: 20px;
    font-weight: 700;
    padding: 0 25px;
    cursor: pointer;
    transition: 0.3s;
    border: 0;
}
.form button:hover{
    background-color: #FF5B50;
    color: white;
}
.sec-coisas-empresas{
    display: flex;
    gap: 13vw;
    padding-left: 5%;
    transition: 0.3s;
}
.coluna-coisas-empresas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.coluna-coisas-empresas a, .coluna-coisas-empresas a:visited{
    color:#5A5757;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}
.coluna-coisas-empresas a:hover{
    color: white;
}
.contato{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 30px 0;
}
.contato p{
    color: #5A5757;
    font-size: 18px;
    font-weight: 400;
}
.img-contato{
    display: flex;
    gap: 4vw;
}
.arte-astr img{
    transition: 0.3s;
}
.menu-escondido{
    position: absolute;
    top: 98px;
    width: 100px;
    z-index: 10;
    background-color: transparent;
    gap: 10px;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform .5s;
    right: 0px;
    color: #137aaa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 38%);
}
.menu-escondido a,.menu-escondido a:visited{
    color: white;
    transition: 0.3s;
    font-size: 14px;
}
.menu-escondido a:hover{
    color: #FF5B50;
}
.linha{
    width: 20px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 3px auto;
    position: relative;
    transform-origin: center;
    transition: 0.5s;
}
#btn-menu{
    width: 35px;
    height: 35px;
    border-radius: 8px;
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
}

#btn-menu.ativar .linha:nth-child(1){
    transform: translateY(5px) rotate(-45deg);
}
#btn-menu.ativar .linha:nth-child(3){
  
    transform: translateY(-5px) rotate(48deg);
}
#btn-menu.ativar .linha:nth-child(2){
    width: 0;
}
.butonn-header{
    display: flex;
    align-items: center;
    gap: 35px;
}

@media(max-width:1150px){
    .sec-coisas-empresas{
       
        gap: 8vw;
    }
    .artista > img{
        padding: 15px 0;
    }
}
@media(max-width:1000px){
    .descubra-nft-2 h2{
        font-size: 38px;
    }
    .arte-astr img{
        width: 280px;
    }
    .coluna-artes-2, .coluna-artes-1{
        width: 35%;   
        gap: 60px;
    }
    .descubra-nft-1{
        width: 33%;
    }
    .descubra-nft-1 > p, .selecionados{
        font-size: 14px;
    }
    .frases-artes{
        width: auto;
    }
    .frases-artes-content p{
        font-size: 12px;
    }
    .avatares img{
        width: 150px;
    }
    
}
@media(max-width:920px){
    .nav-header{
        gap: 3vw;
    }
    .content-artistas{
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }
    .tres-artitas{
        flex-direction: column;
        gap: 30px;
    }
    .titulo-header h1, .name-button-footer h2{
        font-size: 34px;
    }
    .pri-coisas-empresas h4{
        font-size: 26px;
    }
    .sec-coisas-empresas{
        gap: 4vw;
    }
    .form input{
        font-size: 16px;
        line-height: 20px;
        padding: 15px 0 15px 15px;
    }
    .form button{
        padding-left: 15px;
        padding-right: 15px;
    }
    .populares-semana > h2, .melhores-artistas h2{
        font-size: 38px;
        padding-bottom: 100px;
    }
    .melhores-artistas{
        padding-top: 60px;
    }
    .populares-semana{
        padding-top: 60px;
    }
}
@media(max-width:860px){
    .arte-astr img{
        width: 250px;
    }
    .num-artistas h2, .num-vendas h2, .num-artes h2{
        font-size: 32px;
    }
    .num-artistas p, .num-vendas p, .num-artes p{
        font-size: 15px;
    }
    .coluna-infos-num{
        padding-right: 48px;
    }
    .melhores-artistas{
        padding-bottom: 60px;
    }
    .nav-header{
        gap: 2.5vw;
    }
    .nav-header a{
        font-size: 16px;
    }
    .button-carteira button{
        padding: 5px 18px 5px 10px;
        font-size: 14px;
        gap: 10px;
    }
}
@media(max-width:810px){
    
    .frases-artes {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 40px;
    }
    .frases-artes-content{
        gap: 3vh;
    }
    
    .sobre-artes{
        padding-top: 40px;
    }
    .borda-esc{
        border-bottom: 1px solid #5A5757;
        padding-bottom: 15px;
    }
    .descubra-nft-1{
        width: 40%;
    }
}
@media(max-width:730px){
    .button-carteira button img{
        width: 25px;
    }
   
    .descubra-nft-2 h2{
        font-size: 28px;
    }
    .avatares{
        margin-top: 45px;
    }
    .descubra-nft-1 > p, .selecionados{
        font-size: 12px;
    }
    #btn-menu{
        display: block;
    }
   
    .nav-header{
        display: none;
    }
    
    .arte-astr img{
        width: 220px;
    }
    .arte-astr h3{
        font-size: 20px;
        padding-bottom: 25px;
    }
    .name-artista, .preço{
        font-size: 13px;
    }
    .arte-preco-info{
        padding-bottom: 15px;
    }
    .populares-semana > h2, .melhores-artistas h2{
        font-size: 32px;
        padding-bottom: 50px;
    }
    .titulo-header h1, .name-button-footer h2{
        font-size: 28px;
    }
    .name-button-footer{
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .form input{
        font-size: 13px;
        line-height: 16px;
        padding-left: 8px;
    }
    .form button{
        padding-left: 8px;
        padding-right: 8px;
        font-size: 16px;
    }
    .pri-coisas-empresas{
        gap: 20px;
        padding: 5% 4% 5% 5%;
    }
    .pri-coisas-empresas h4{
        font-size: 22px;
    }
    .contato p{
        font-size: 14px;
    }
    .coluna-coisas-empresas a{
        font-size: 13px;
    }
    .sec-coisas-empresas{
        gap: 5vw;
    }
    .descubra-nft-1{
        width: 45%;
    }
}
@media(max-width:610px){
    .button-carteira button{
        padding: 5px 12px 5px 6px;
        font-size: 12px;
        gap: 10px;
    }
    .pri-coisas-empresas{
        padding: 5% 3% 5% 5%;
    }
    .pri-coisas-empresas h4 {
        font-size: 18px;
    }
    .form input{
        padding-left: 5px;
    }
    .form button{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
    .coluna-coisas-empresas a{
        font-size: 11px;
    }
    .artista{
        min-width: 240px;
    }
    .info-artista {
        font-size: 14px;
    }
    .artista img{
        width: 70px;
        height: 70px;
    }
    
}
@media(max-width:555px){
    .artista{
        min-width: 220px;
        
    }
    .artista > img{
        padding: 10px 0;
    }
}
@media(max-width:525px){
    .sec-coisas-empresas {
        gap: 3.5vw;
    }
}
@media(max-width:515px){
    .artista{
        min-width: 200px;
    }
    .info-artista{
        font-size: 12px;
    }
    .artista img {
        width: 55px;
        height: 55px;
    }
}
@media(max-width:460px){
    .artista{
        min-width: 175px;
    }
    .info-artista{
        font-size: 10.5px;
    }
}
